.page-views {
    grid-column: 7 / 10;
}

.page-views-value {
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
}

.page-views-value-percentage {
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    margin-left: 4px;
}