
.circle {
    position: relative;
}

.circle-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#svg circle {
    stroke: var(--bg-secondary);
    stroke-width: 4px;
}